.LinkBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px 0;
  gap: 20px;
  overflow: hidden;
  @media (min-width: 1000px) {
    flex-direction: row;
    align-items: center;
    padding: 20px 40px;
  }
  p {
    padding: 0 20px;
    @media (min-width: 1000px) {
      padding: 0;
    }
    &:first-of-type {
      position: relative;
      width: 100%;
      &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgb(219, 219, 219);
      }
      @media (min-width: 1000px) {
        &::after {
          display: none;
        }
      }
    }
    span {
      color: var(--cyan);
    }
  }
  &__button {
    width: 90%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cyan);
    border-radius: 10px;
    transition: background-color 0.2s;
    color: white;
    margin: 0 auto;
    cursor: pointer;

    @media (min-width: 1000px) {
      margin: 0;
      width: 200px;
    }
    &:hover {
      background-color: var(--lightCyan);
    }
    &--active {
      background-color: var(--darkViolet);
      &:hover {
        background-color: var(--veryDarkViolet);
      }
    }
  }
}
