.Box {
  max-width: 375px;
  min-height: 200px;
  padding: 40px 20px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  h3 {
    margin-top: 30px;
  }
  p {
    color: var(--grayishViolet);
    margin-top: 20px;
    font-size: 16px;
  }
  &__img-container {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--darkViolet);
    display: flex;
    justify-content: center;
    align-items: center;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
  }
}
